<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.wlu.g1a2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>G1A2 Group Information</name>
    <description>
        Group #1, Assignment #2: Information about us
    </description>
    <author email="HILT2740@mylaurier.ca" href="http://cordova.io">
        Vaughan Hilts, Brandon Smith, Colin Gidzinski
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
